{% extends 'shared/_layout.html' %}

{% block title %}
    بازیابی کلمه عبور
{% endblock %}

{% block content %}
<main class="page-content">
            <div class="container">
                <div class="auth-wrapper">
                    <div class="auth-form shadow-around">
                        <div class="site-logo">
                        <a href="{{ site_setting.site_url }}">
                            <img src="{{ site_setting.site_logo.url }} " width="100" alt="logo">
                        </a>
                    </div>
                        <div class="auth-form-title text-center">
                            یادآوری کلمه عبور
                        </div>
                        <form action="{% url 'forget_password_page' %}" method="post">
                            {% csrf_token %}
                            <div class="form-element-row">
                                <label for="phone-number" class="label-element">{{ forget_password_form.email.label }}</label>
                                <div class="form-element-with-icon">
                                    {{ forget_password_form.email }}
                                    <i class="fad fa-mobile-alt"></i>
                                </div>
                            </div>
                            <div class="form-element-row text-left">
                                <button class="btn-element btn-success-element">
                                    <i class="fad fa-sync"></i>
                                    یادآوری کلمه عبور
                                </button>
                            </div>

                        </form>
                        <div class="auth-form-footer">
                            <span>کاربر جدید هستید؟</span>
                            <a href="#" class="link--with-border-bottom">ثبت نام در {{ site_setting.site_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}