{% extends 'shared/_layout.html' %}

{% block title %}
    بازیابی کلمه عبور
{% endblock %}

{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="{{ site_setting.site_url }}">
                            <img src="{{ site_setting.site_logo.url }} " width="100" alt="logo">
                        </a>
                    </div>
                    <div class="auth-form-title text-center">
                        تغییر رمز عبور
                    </div>
                    <form action="{% url 'reset_password_page' active_code=user.email_active_code %}" method="post">
                        {% csrf_token %}
                        <div class="form-element-row">
                            <label for="password" class="label-element">{{ reset_password_form.password.label }}</label>
                            <div class="form-element-with-icon">
                                {{ reset_password_form.password }}
                                <i class="fad fa-key-skeleton"></i>
                            </div>
                        </div>
                        <div class="form-element-row">
                            <label for="password_confirm"
                                   class="label-element">{{ reset_password_form.confirm_password.label }}</label>
                            <div class="form-element-with-icon">
                                {{ reset_password_form.confirm_password }}
                                <i class="fad fa-key-skeleton"></i>
                            </div>
                            {{ reset_password_form.errors }}
                        </div>
                        <div class="form-element-row text-left">
                            <button class="btn-element btn-success-element">
                                <i class="fad fa-sync"></i>
                                تغییر رمز عبور
                            </button>
                        </div>

                    </form>
                    <div class="auth-form-footer">
                        <span>کاربر جدید هستید؟</span>
                        <a href="#" class="link--with-border-bottom">ثبت نام در {{ site_setting.site_name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}