{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
    <main class="page-content" style="margin-top: 205.5px; transform: none;">
        <div class="container" style="transform: none;">
            <div class="row mb-5" style="transform: none;">
                <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar"
                     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                    <div class="theiaStickySidebar"
                         style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                        <div class="sidebar-widget">
                            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                        </div>
                        <div class="resize-sensor"
                             style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div class="resize-sensor-expand"
                                 style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 403px; height: 612px;"></div>
                            </div>
                            <div class="resize-sensor-shrink"
                                 style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="section-title mb-2">
                                اطلاعات شخصی
                            </div>
                            <section class="shadow-around p-3">
                                <form action="{% url 'user_edit_profile' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 mb-5">
                                            <div class="text-sm text-muted mb-3">{{ form.first_name.label }}</div>
                                            <div class="text-dark font-weight-bold">
                                                <div class="form-element-row mb-0">
                                                    {{ form.first_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-5">
                                            <div class="text-sm text-muted mb-3">{{ form.last_name.label }}</div>
                                            <div class="text-dark font-weight-bold">
                                                <div class="form-element-row mb-0">
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-5">
                                            <div class="text-sm text-muted mb-3">{{ form.abuot_user.label }}</div>
                                            <div class="text-dark font-weight-bold">
                                                <div class="form-element-row mb-0">
                                                    {{ form.abuot_user }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-5">
                                            <div class="text-sm text-muted mb-3">{{ form.national_code.label }}</div>
                                            <div class="text-dark font-weight-bold">
                                                <div class="form-element-row mb-0">
                                                    {{ form.national_code }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-element-row text-left">
                                                <button class="btn-element btn-success-element">
                                                    <i class="fad fa-user-edit"></i>
                                                    ذخیره تغییرات
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}